<div class="container-fluid" id="fundo">
  
  <div class="contaiiner">
    <div class="row">
      <div class="col-md-12 titulo">
        <h1> Clientes </h1>
        <hr>
      </div>
    </div>
  </div>

  <div class="container">
    
    <div class="row">
      
      <div class="col-md-8 col-md-8 col-xs-12 col-form">
        <section id="mensagem">
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Bem Vindo</h4>
            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI.</p>
            <hr>
            <p class="mb-0">Cadastre-se em nossa API e receba notificações.</p>
          </div>
        </section>

          <section id="formulario">
              <form>
                  <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" class="form-control" id="nome" placeholder="nome">
                    <small id="emailHelp" class="form-text text-muted">Digite o seu nome.</small>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
          </section>
      </div>
      
      <div class="col-md-4 col-md-4 col-xs-12 col-extra">
          <conteudo-extra></conteudo-extra>
      </div>
      
    
    </div>  
      
  </div>
</div>